@{
    ViewData["Title"] = "Order Success";
}
<h1 class="text-success">Success!</h1>
<h2 class="text-success">Your order was succesfully processed! The purchased books were sent to your email.</h2>
