@{
    ViewData["Title"] = "Order Failure";
}
<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">Unfortunately, we were unable to process your request. You won't lose money. Please, try again or contact our support team. They will be glad to help you!</h2>
