@page
@model ConfirmedEmailModel
@{
    ViewData["Title"] = "Succesful confirmation";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have succesfully confirmed your email, so now you can log in any time.</p>
</header>